table{
    width: 100%;
    position: relative;
}td{
    padding: 10px;
    
}
tbody tr{
    cursor: pointer;
}
tr td:first-child{
    font-weight: 500;
}

table img{
position: absolute;
right:10px;
top: 10px;
}
.greenColor{
    color: rgb(0, 200, 0);
}
.redColor{
    color: rgb(200, 0, 0);
}