<div class="d-flex justify-content-center align-items-center h-100">
    <form class="p-3 rounded"[formGroup]="loginUserForm" (ngSubmit) = 'login()'>
        <div class="mb-3">
            <h2  class="text-center fs-3">Login Form</h2>
        </div>
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Email address</label>
            <input type="email"  formControlName="Email" class="form-control" id="InputEmail">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" formControlName="Password" class="form-control" id="InputPassword">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary w-100">Submit</button>
        <div class="mt-2">
            New user? <a routerLink="/signup">Register here</a>
        </div>
    </form>
</div>