
<ul>
    <li><a routerLinkActive="activebutton" routerLink="/home">Dashboard</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/customers">Customers</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/performance">Performance</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/issues">Issues</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/stats">Stats</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/about">About</a></li>
    <li><a routerLinkActive="activebutton" routerLink="/terms">Terms & Condition</a></li>
    
</ul>