<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/img/atom.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <img src="/assets/img/menu.png" alt="">
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

            <form class="d-flex">
                <a class="btn btn-primary mx-2" routerLink="login">Login</a>
                <a class="btn btn-danger">Logout</a>
            </form>
        </div>
    </div>
</nav>